source {{ DOTFILES_REPO }}/roles/tmux/files/plugins.tmux
source {{ DOTFILES_REPO }}/roles/tmux/files/global_options.tmux
source {{ DOTFILES_REPO }}/roles/tmux/files/statusline_options.tmux
source {{ DOTFILES_REPO }}/roles/tmux/files/bindings.tmux

run '~/.tmux/plugins/tpm/tpm' # MUST BE AT THE END
