unbind-key -a # Remove all key bindings first


{% include 'files/tmux_plugins.conf' %}


{% include 'files/tmux_global_options.conf' %}


{% include 'files/tmux_statusline_options.conf' %}


{% include 'files/tmux_vim_navigation.conf' %}


{% include 'files/tmux_bindings.conf' %}


run '~/.tmux/plugins/tpm/tpm' # MUST BE AT THE END
