source {{ DOTFILES_REPO }}/roles/tmux/files/plugins.tmux
source {{ DOTFILES_REPO }}/roles/tmux/files/options.tmux
source {{ DOTFILES_REPO }}/roles/tmux/files/mappings.tmux

run '~/.tmux/plugins/tpm/tpm' # MUST BE AT THE END
